---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websitelongimg2.jpeg
bottom_image: https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/website2bottom.jpeg
---
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3ZFHQZQXL"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-L3ZFHQZQXL'); </script>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Making Dreams Reality</h1>
			<p class="subtext editable">Manage Your Business Your Way</p>
			<div class="cta button alt"><a href="#">Check Out My Blog!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A little About Me</h2>
				<p class="editable">Hello there!! My name is Amina Matai. Welcome to my website! I am a student in California and I attend Canyon Crest Academy.  </p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websiteselfimg.jpg" alt="img" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Grow Your Business</h2>
				<p class="editable">Take your imagination and let it become reality. Here we work hard to make businesses better. </p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/website1.jpeg" alt="webpic" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Reach Out</h2>
				<p class="editable">Click On the Contact Page to reach out personally or the Get Started Page</p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websiteimg3.jpg" alt="aminapic" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Aminas Website</h2>
				<p class="subtext editable">Go Check Out My Blog!</p>
				<div class="cta button alt"><a href="#">Check the top</a></div>
			</div>
		</div>
	</section>
</div>
