---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websitelongimg2.jpeg
bottom_image: https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/website2bottom.jpeg
---
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3ZFHQZQXL"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-L3ZFHQZQXL'); </script>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Amina Matai</h1>
			<p class="subtext editable">My website</p>
			<div class="cta button alt"><a href="#">Check Out My Blog!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A little About Me</h2>
				<p class="editable"> I am a student at Canyon Crest Academy with a strong passion for biology and medicine. My long-term goal is to attend medical school and specialize in cardiology. Since 2020, I’ve been teaching and tutoring children from countries such as Kazakhstan and Mongolia in English and science, both virtually and now in person. These experiences have not only deepened my commitment to global education but also inspired me to launch a nonprofit focused on providing educational access to underserved communities. I’m particularly interested in the intersection of technology and medicine, especially how AI can enhance healthcare outcomes.

				</p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websiteselfimg.jpg" alt="img" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">My Current Work</h2>
				<p class="editable"> AI-assisted surgical technologies: Researching how artificial intelligence and 3D imaging can support precision in heart surgery, with a focus on developing tools that improve accuracy and patient outcomes in cardiology.

					Global education outreach: Building a nonprofit initiative to support science and language education in underdeveloped regions, starting with ongoing in-person work in Mongolia and Kazakhstan.
					
					Medical innovation and exploration: Actively exploring how artificial intelligence, 3D modeling, and diagnostic software can be integrated into future medical practice to support surgical planning and real-time decision-making. </p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/website1.jpeg" alt="webpic" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Previous Work</h2>
				<p class="editable">Click On the Contact Page to reach out personally or the Get Started Page</p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aminamataii/aminamataii.github.io/main/images/websiteimg3.jpg" alt="aminapic" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Aminas Website</h2>
				<p class="subtext editable">Go Check Out My Blog!</p>
				<div class="cta button alt"><a href="#">Check the top</a></div>
			</div>
		</div>
	</section>
</div>


<!--cd /Users/mainuser/Desktop/YourFolder
git add -A .
git commit -m 'commit message from terminal'
git push 
this is messsage to send to terminal when commiting
-->
